<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form  th:object="${booking}" th:action="@{booking/saved}" action="#" method="post">
        <div class="booking-request-admin">
            <div class="title">
                <h5>Thêm/Chỉnh sửa yêu cầu</h5>
                <a href="#" id="close">X</a>
            </div>
            <div class="body">
                <p class="frame">Thành viên</p>
                <div class="input">
                    <div class="item">
                        <p>phung <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                    <div class="item">
                        <p>khanhdt <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                    <div class="item">
                        <p>dandv <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                </div>
                <p class="frame">Quán ăn</p>
                <select name="status">
                    <option value="">Quán 1</option>
                    <option value="">Quán 2</option>
                </select>
                <p class="frame">Tên Set</p>
                <select name="status">
                    <option value=""> Cơm rang dưa bò </option>
                    <option value=""> Cơm gà chiên mắm </option>
                </select>
                <p class="frame">Món chính</p>
                <select name="status">
                    <option value="">Cá</option>
                    <option value="">Thịt bò</option>
                </select>
                <p class="frame">Món phụ</p>
                <div class="input">
                    <div class="item">
                        <p>Món phụ <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                    <div class="item">
                        <p>Món phụ <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                    <div class="item">
                        <p>Món phụ <a href="#">x</a></p>
                        <!-- <i class="fas fa-times"></i>     -->
                    </div>
                </div>
                <p class="frame">Số lượng</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
                            data-field="">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1"
                        max="100">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus"
                            data-field="">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
                <p class="frame">Trạng thái</p>
                <div class="form-status">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="option 1">
                        <label class="form-check-label" for="inlineRadio1" style="font-weight: 500;">Đã đặt</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option 2">
                        <label class="form-check-label" for="inlineRadio2" style="font-weight: 500;">Chưa đặt</label>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="action-popup">
                    <button class="add btn btn-light">Hủy bỏ </button>
                    <button class="export btn btn-primary">Xác nhận </button>
                </div>
            </div>
        </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/d403942475.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>